:root {
  --main-color-one: #dd131a;
  --main-color-two: #000565;
  --secondary-color: #0e115a;
  --heading-color: #04072e;
  --paragraph-color: #727777;
  --heading-font: "Barlow Semi Condensed", sans-serif;
  --heading-font-02: "Kalam", cursive;
  --body-font: "Roboto", sans-serif;
  --animate-delay: 0.3s;
  --site-padding: 10px 80px;
}

body {
  margin: 0;
  padding: 0;
}

/* utilities */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: baseline;
}

/* header */
.header {
  background-color: var(--main-color-one);
  color: white;
  padding: var(--site-padding);
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav img {
  height: 50px;
}

/* main */

.main {
  padding: 40px 80px;
}

/* hero banner */
.hero {
  display: flex;
  justify-content: space-between;
}
.hero .right img {
  width: 100%;
}

.election-tag {
  border: 1px solid var(--main-color-one);
  width: fit-content;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-top: 30px;
}

.election-tag:hover {
  background-color: var(--main-color-one);
  color: white;
}

.election-tag img {
  margin: 0px 4px;
}

.vote_text {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-bottom: 0px;
  margin-top: 40px;
  font-size: 20px;
}

.vote_text h1 {
  font-size: 55px;
  padding: 0px;
  margin: 0px;
  font-weight: 800;
  margin-top: 80px;
}

.vote_text p {
  width: 70%;
  font-weight: 600;
  margin-top: 40px;
}
.vote_text h1 span.name,
.vote_text h1 span.role {
  color: var(--main-color-one);
}

.vote_text img {
  margin-top: -40px;
}

.hero .left {
  position: relative;
}

.dot-shape-01 {
  position: absolute;
  z-index: -1;
  top: 14%;
  right: 17%;
  -webkit-animation: zoomIn 2.5s linear infinite;
  animation: zoomIn 2.5s linear infinite;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
