:root {
  --main-color-one: #dd131a;
  --main-color-two: #000565;
  --secondary-color: #0e115a;
  --heading-color: #04072e;
  --paragraph-color: #727777;
  --heading-font: "Barlow Semi Condensed", sans-serif;
  --heading-font-02: "Kalam", cursive;
  --body-font: "Roboto", sans-serif;
  --animate-delay: 0.3s;
  --site-padding: 10px 80px;
}

body {
  margin: 0;
  padding: 0;
}

/* utilities */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: baseline;
}

/* header */
.header {
  background-color: var(--main-color-one);
  color: white;
  padding: var(--site-padding);
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav img {
  height: 50px;
}

/* hero banner */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}
.hero .right img {
  width: 100%;
  border-radius: 20px;
}

.election-tag {
  border: 1px solid var(--main-color-one);
  width: fit-content;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-top: 30px;
}

.election-tag:hover {
  background-color: var(--main-color-one);
  color: white;
}

.election-tag img {
  margin: 0px 4px;
}

.vote_text {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-bottom: 0px;
  margin-top: 40px;
  font-size: 20px;
}

.vote_text h1 {
  font-size: 55px;
  padding: 0px;
  margin: 0px;
  font-weight: 800;
  margin-top: 80px;
}

.vote_text button.support_me {
  padding: 10px 40px;
  margin-top: 50px;
  border: 1px solid var(--main-color-one);
  background-color: transparent;
  font-weight: bold;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 30px;
  border-radius: 10px;
}

.vote_text p {
  width: 70%;
  font-weight: 600;
  margin-top: 40px;
}
.vote_text h1 span.name,
.vote_text h1 span.role {
  color: var(--main-color-one);
}

.vote_text img {
  margin-top: -40px;
}

.hero .left {
  position: relative;
}

.dot-shape-01 {
  position: absolute;
  z-index: -1;
  top: 14%;
  right: 17%;
  -webkit-animation: zoomIn 2.5s linear infinite;
  animation: zoomIn 2.5s linear infinite;
}

/* about */

.about {
  display: flex;
  background-color: #acaeae1e;
}

.about .content {
  padding: 80px 40px;
}

.about .know_me h4 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
}
.about .know_me span {
  margin: 0px 10px;
}

.know_me h4 .name {
  color: var(--main-color-one);
  border: 1px solid black;
  padding: 4px 10px;
  border-radius: 5px;
}

.know_me h4 .name:hover {
  color: white;
  background-color: var(--main-color-one);
  border: 1px solid var(--main-color-one);
}

/* reason_for_running */
.reason_for_running {
  display: flex;
  padding: 40px 80px;
  height: 500px;
  font-family: "Barlow Semi Condensed", sans-serif;
  gap: 20px;
  justify-self: space-between;
}

.reason_for_running img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
}

.reason_for_running .text_content {
  position: relative;
  width: 50%;
  font-size: 25px;
  font-weight: 400;
  height: 100%;
}

.reason_for_running .text_content p {
  margin-top: 50px;
}

.reason_for_running .text_content img.dot-shape-01 {
  left: 0;
  top: -40px;
  -webkit-animation: zoomMid 2.5s linear infinite;
  animation: zoomMid 2.5s linear infinite;
  width: 200px;
  height: 200px;
}

.reason_for_running .image_group {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.reason_for_running .img_2 {
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 300px;
  height: 300px;
}

/* footer */
.footer {
  height: 200px;
  background-color: rgb(93, 83, 83);
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 20px 0px 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 20px;
}

.footer .contact {
  color: white;
}

.footer .contact h4 {
  font-size: 20px;
  margin: 0px;
}

.footer .contact div {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.footer .contact div img {
  margin: 0px 5px;
}

.footer .contact a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.footer .contact a:hover {
  color: red;
  text-decoration: underline;
}

.footer .bottom {
  background-color: white;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .bottom p {
  text-align: center;
  color: red;
  font-weight: 600;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomMid {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  50% {
    opacity: 1;
  }
}
